@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  background-color: #AFB2F2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 1rem;
  grid-auto-rows: 22rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  min-height: 1500px;
  background-color: white;
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .leftSide {
  background-color: #D9DFFF;
  width: 450px;
  padding: 0px;
}

#photo {
  border-radius: 100%;
  max-width: 300px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.2);
  padding: 20px;
  margin: 30px 10px 30px 10px;
  align-items: center;
}
.textTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textTitle h1 {
  color: #505496;
  margin-top: 30px;
  font-size: 40px;
  letter-spacing: 0.5px;
}
.textTitle h3 {
  color: #505496;
  margin-top: 5px;
  font-size: 22px;
  letter-spacing: 0.5px;
}
.profileText {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #505496;
  padding: 10px;
}
#qualitiesTitle {
  color: white;
  background-color: #6768AC;
  margin-top: 60px;
  font-size: 28px;
  display: grid;
  grid-template-columns: 200px;
  padding: 10px 125px 10px 125px;
  text-align: center;
  letter-spacing: 2px;
}
.tableOfQualities {
  font-size: 22px;
  margin: 30px 20px 30px 20px;
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 40px 40px 40px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
}
.languagesTitle {
  color: white;
  background-color: #6768AC;
  margin-top: 20px;
  font-size: 28px;
  display: grid;
  grid-template-columns: 200px;
  padding: 10px 125px 10px 125px;
  text-align: center;
  letter-spacing: 2px;
}
.textLanguages {
  color: #505496;
  margin-top: 30px;
  font-size: 25px;
}

.contact {
  color: white;
  background-color: #6768AC;
  margin-top: 40px;
  font-size: 28px;
  display: grid;
  grid-template-columns: 200px;
  padding: 10px 125px 10px 125px;
  text-align: center;
  letter-spacing: 2px;
}

.contactInfo {
  padding: 40px;
  font-size: 28px;
}
.contactInfo ul li {
  list-style: none;
  padding: 10px 0 10px 0;
}
.contactInfo ul li .icon {
  display: inline-block;
  width: 50px;
}
a {
  transition: color 0.3s ease;
  color: #505496;
  text-decoration: none;
}
a:hover {
  color: #AA0787;
}

.container .rightSide {
  background-color: white;
  padding: 40px;
}

.about {
  color: #6768AC;
  font-size: 28px;
  margin-top: 50px;
}
.about h3 {
  margin-bottom: 0;
  padding-bottom: 15px;
  border-bottom: 4px solid #6768AC;
}
.about p {
  color: #000000;
  font-size: 22px;
  margin-top: 30px;
}

.university {
  color: #6768AC;
  font-size: 28px;
  margin-top: 20px;
}
.university h3 {
  margin-bottom: 0;
  padding-bottom: 10px;
  border-bottom: 4px solid #6768AC;
}
.university h5 {
  display: grid;
  grid-template-columns: 600px 150px;
  padding: 30px 0 10px 0;
}
.university p {
  color: #000000;
  margin-top: 0px;
  font-size: 22px;
  letter-spacing: 0.5px;
}

.work {
  color: #6768AC;
  font-size: 28px;
  margin-top: 50px;
}
.work h3 {
  margin-bottom: 0;
  padding-bottom: 10px;
  border-bottom: 4px solid #6768AC;
}
.work h5 {
  display: grid;
  grid-template-columns: 600px 150px;
  padding: 30px 0 10px 0;
  letter-spacing: 0.5px;
}

.work p {
  color: #000000;
  margin-top: 0px;
  font-size: 22px;
}

.skills {
  color: #6768AC;
  font-size: 28px;
  margin-top: 50px;
}
.skills h3 {
  margin-bottom: 0;
  padding-bottom: 10px;
  border-bottom: 4px solid #6768AC;
}

.skills div {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: repeat(3, 80px);
  margin-top: 30px;
  font-size: 22px;
}
.skills .percent {
  position: relative;
  width: 80%;
  height: 8px;
  background-color: #C6C6C6;
  display: grid;
  margin-top: 10px;
}
.skills .percent .box {
  position: relative;
  width: 0%;
  height: 8px;
  background: #6768AC;
  display: grid;
}

@media screen and (max-width:480px) {
  body {
    flex-direction: column;
  }
  .container {
    grid-template-columns: 450px;
  }
  .container .rightSide {
    flex-direction: column;
} 
  .university h5 {
    grid-template-columns: auto;
  }
  .work h5 {
    grid-template-columns: auto;
  }
  .skills div {
    grid-template-columns: auto;
    grid-template-rows: repeat(9, 80px)
  }
}